<%- include('./partials/header.ejs')%>
<h1>About</h1>
<p> <%= startingContent %> </p>
<%- include('./partials/footer.ejs')%>
<!--
<% if(string.length>100){ %>
    <% const string=post.content%>    
    <% const tmp=string.slice(0,100).concat('...'); %>
        <p><%=tmp><a href="/posts/<%=post.title%>"+>Read More</a></p>
    <% } else { %>
    <p><%=post.content%></p>
    <% }; %>
-->